*, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  body {
    background-image: url(/photos/cloudy-rainbow.jpg);
    background-size: cover;
    color: white;
    background-position: center;
    height: 100vh;
  }

header {
  text-align: center;
}

h2 {
    display: flex;
    padding: 10px 30px 10px 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    width: 100%;
}

h3 {
  text-align: center;
}

form {
  display: flex;
  gap: 15px;
}

.card {
    width: 100px;
    height: 130px;
    perspective: 1000px;
    margin: 15px;
    position: relative;
    border-radius: 7px;
  }

  /* Card Section */
  #cardSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: 100px;
    min-width: 100%;
  }

  /* body */
  #maincardsection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px;
    margin-top: 40px;
}

#playerSection {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px 0px 10px 0px;
  gap: 25px;
}

#start, #currentPlayer, .player, h1, h3, h4 {
  margin: 20px;
}

#start{
  background-color: rgba(0, 0, 0, 0.589);
  color: white;
  padding: 10px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
}

h1, h3 {
  margin-top: 40px;
}

.invisible {
  opacity: .2;
}

#restart {
  display: flex;
  justify-content: center;
  align-items: center;
}

#restart button {
  padding: 10px;
  font-weight: 800;
  background-color: red;
  color: white;
}
      
/*   
  .card-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
  } */
  
  /* .card-front, .card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
  } */
  
  /* .card-front img {
    object-fit: cover;
    height: 300px;
    width: 215px;
    border-radius: 15px;
  } */

  /* .card-front {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    border-radius: 15px;
  } */

  /* .card-front:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2), 0 8px 24px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
  } */
  
  /* .card-back img {
    object-fit: cover;
    width: 215px;
    border-radius: 15px; 
  } */

  /* .card-back {
    background: white;
    border: solid 1px black;
    transform: rotateY(180deg);
    border-radius: 15px;
    display: flex;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  } */
  


  