.card {
    width: 200px;
    height: 300px;
    perspective: 1000px;
    margin: 16px;
  }
  
  .card-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
  }
  
  .card-front,
  .card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
  }
  
  .card-front img {
    object-fit: cover;
    height: 300px;
    border-radius: 15px;
  }
  
  .card-back {
    background: lightgreen;
    transform: rotateY(180deg);
    border-radius: 5px;
  }


  #cardsection {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
      


  